<h5>You have reached your search limit</h5>
<div>
    <p>If you want to get additional searches you can <a asp-controller="Home" asp-action="CreateWord">create word</a></p>
    <p>Also you cat get additional searches if you <a asp-controller="Home" asp-action="Anagrams">correct the word</a></p>
</div>
